body {
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

summary {
    display: block;
}

.menu_top {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 30px;
}

.menu_top_left {
    display: flex;
}

.menu_top_right {
    display: flex;
    height: 38px;
    align-self: center;
}

.menu_bottom {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    width: 680px;
    color: #222222;
    justify-content: space-between;
}

.menu_text {
    text-decoration: none;
    color: #222222;
}

.menu_list {
    list-style-type: none;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
}

.logo {
    width: 59px;
    height: 51px;
}

.logo_text {
    margin-left: 13px;
    margin-top: 20px;
}

.searching {
    display: flex;
    margin-left: 37px;
    height: 38px;
    align-self: center;
}

.input_search {
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
    width: 280px;
    height: 36px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    text-align: left;
    padding-left: 15px;
    border-left: 0px;
}

.button_search {
    float: right;
    padding: 10px;
    color: #a4a4a4;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 38px;
    border-left: none;
}

.details {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding-left: 15px;
    padding-right: 9px;
    display: flex;
}

.cart {
    width: 32px;
    height: 29px;
    margin-right: 26px;
    align-self: flex-end;
}

.account_manage {
    background-color: #f16d7f;
    padding-left: 15px;
    padding-right: 9px;
    display: flex;
    padding-top: 1px;
    padding-bottom: 1px;
}

.account_text {
    color: #ffffff;
    ;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;

}

.browse {
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
}

.row {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.line {
    border: 0.5px solid #ececec;
    background-color: #ffffff;
}

.top_content {
    background-color: #e8e8e8;
    margin-bottom: 98px;
}

.content_box {
    background-image: url(img/man.png);
    height: 615px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_text {
    font-size: 70px;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    font-weight: 1000;
}

.main_text {
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    font-weight: 1000;
    font-size: 45px;
}

.liner {
    display: flex;
    width: 100px;
    height: 100px;
}

.text_box::before {
    content: " ";
    background-color: #f16d7f;
    width: 12px;
    height: 100%;
    float: left;
    margin-right: 12px;
}

.fashion {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
}

.action_box {
    display: flex;
    justify-content: space-between;
}

.action_box_flex {
    display: flex;
}

.img {
    position: relative;
    margin-bottom: 20px;
}

.action_box_text {
    position: absolute;
    margin-top: 26px;
    padding: 16px 20px;
    background-color: #ffffff;
}

.action_box_text_top {
    color: #222222;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.45px;
}

.action_box_text_btm {
    color: #f16d7f;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    font-weight: 1000;
    text-align: left;
    text-transform: uppercase;
}

.content_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;

}

.card_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.card_link {
    text-decoration: none;
}

.card {
    width: 260px;
    /*height: 363px;*/
    box-sizing: border-box;
    margin-bottom: 35px;
    position: relative;
    display: flex;
}

.link_add {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    top: 98px;
}

.cart_text {
    font-size: 13px;
    font-weight: 700;
    font-family: Lato;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #ffffff;
}

.cart_box {
    margin-right: 8px;
}

.add {
    display: flex;
    padding: 10px;
    border: 1px solid #ffffff;
    text-decoration: none;
    box-shadow: 0px 0px 5px 2px #ffffff;
    align-items: center;
}

.card:hover .link_add {
    display: flex;
}

.card:hover .card_img {
    filter: brightness(50%);
}

.card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.card_img {
    display: block;
    margin-bottom: 7px;
}

.card_text {
    display: block;
    padding: 13px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: normal;

}

.card_prc {
    display: block;
    padding: 0 13px 13px 13px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal;
    color: #f16d7f;
}

.link_to_katalog {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 113px;
}

.link_to_kat {
    display: flex;
    text-decoration: none;
    background-color: #f16d7f;
    padding: 18px 24px;
    align-items: center;
}

.link_to_kat_text {
    margin-right: 8px;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 550;
    font-style: normal;
    letter-spacing: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    /*  letter-spacing: 0.4px;
    line-height: normal;
    Text style for "B, rowse A" */
}

.block_offer {
    display: flex;
    margin-bottom: 97px;
}

.offer_img {
    display: flex;
}

.woman_wntr {
    position: relative;
}

.women_txt {
    position: absolute;
}

.offer_options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px;
    box-sizing: border-box;
    background-color: #222224;
}

.offer_blocks {
    display: flex;
}

.img_offer {
    margin-right: 33px;
    align-self: flex-start;
}

.h3_offer {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "Free Deliv" */
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    margin-bottom: 18px;
}

.p_offer {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    font-style: normal;
    text-align: left;
    letter-spacing: normal;
    /*Text style for "W, orldwid" 
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;*/
}

.women_txt {
    margin-top: 146px;
    margin-left: 40px;
}

.women_txt_p1 {
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.women_txt_p2 {
    color: #ffffff;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.9px;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.women_txt_spn {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
}


.footer_top {
    background-repeat: no-repeat;
    height: 438px;
    background-size: 100% 438px;
    margin-bottom: 109px;
    background-image: linear-gradient(rgba(250, 250, 250, 0.6), rgba(253, 253, 253, 0.6)), url(img/bcg_footer.png);
}

.footer_top_content {
    display: flex;
    padding-top: 111px;
}

.footer_top_left {
    width: 570px;
    display: flex;
}

.footer_top_img_left {
    align-self: baseline;
}



.footer_top_img_left {
    margin-right: 28px;
}

.footer_top_prgf {
    width: 386px;
}

.footer_top_prgf1 {
    margin-bottom: 19px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    /* Text style for "“, Vestibu" 
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;*/
}

.footer_top_prgf2 {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "Bin Burhan" 
    font-family: "Lato - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 26px;*/
}

.footer_top_prgf3 {
    color: #222224;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 14px;
    margin-bottom: 41px;
}

.footer_top_left_blocks {
    display: flex;
}

.footer_top_left_block1 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 13px;
}

.footer_top_left_block2 {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    margin-right: 13px;
}

.footer_top_left_block3 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 13px;
}

.footer_top_right {
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_top_right_txt2 {
    margin-bottom: 35px;
}

.footer_top_right_txt {
    color: #222224;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    /*letter-spacing: normal;
    line-height: normal;*/
    text-align: center;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 35px;
    text-transform: uppercase;
}

.footer_top_right_txt2 {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.form_subscribe {
    display: flex;
    justify-content: center;
}

.form_subscribe_enter {
    width: 282px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    border: none;
    opacity: 0.67;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    /* Text style for "E, nter Yo" 
font-style: normal;
letter-spacing: 0.35px;
line-height: normal;*/
    padding-left: 28px;
}

.subscribe_submit {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    /*Text style for "Subscribe"*/
    /*font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;*/
    border: none;
    padding: 0px 20px;
    width: 104px;
}

.footer_middle_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.footer_middle_left {
    width: 427px;
}

.logo_footer {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.logo_top {
    display: flex;
    align-items: center;
}

.logo_link {
    display: block;
    width: 170px;
    height: 52px;
    position: absolute;
}

.logotipe {
    margin-right: 13px;
}

.logotipe_txt {
    color: #3e3e40;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.68px;
}

.logotipe_txt_d {
    color: #f16d7f;
    font-family: "Lato";
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: 30px;
}

.footer_meddle_left_prgf {
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    /* Text style for "Objectivel" 
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;*/
    margin-bottom: 28px;
}

.menu_footer {
    display: flex;
    width: 608px;
    justify-content: space-between;
}

.menu_footer_block {
    list-style-type: none;

}

.menu_footer_list {
    list-style-type: none;
}

.menu_footer_block_link {
    display: block;
    text-decoration: none;
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 59px;
    text-transform: uppercase;
    /* Text style for "C, OMPANY" 
font-style: normal;
letter-spacing: 0.45px;
line-height: normal;*/
}

.menu_footer_link {
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    /* Text style for "Home" 
    line-height: 59px;
    line-height: normal;
    /* Text style for "Shop , Abo" 
    line-height: 42px;*/
}

.menu_footer_link {
    text-decoration: none;
    display: block;
}

.footer_bottom {
    background-color: #e6e6e6;
    height: 79px;
}

.footer_bottom_block {
    display: flex;
    align-items: center;
    height: 79px;
    justify-content: space-between;
}

.footer_bottom_link {
    text-decoration: none;
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    /* Text style for "©,  2017" 
font-style: normal;
letter-spacing: 0.4px;
line-height: normal;*/
}

.footer_bottom_right {
    display: flex;
    align-items: center;
}

.fab_link {
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    margin: 0 4px;
}

.fab:hover {
    background-color: #f16d7f;
}

.menu_block {
    display: none;
    position: absolute;
    justify-content: space-between;
    width: 820px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 25px;
    border: 1px solid #e8e8e8;
    top: 151px;
    right: 235px;
}

.menu_list:hover .menu_block {
    display: flex;
}

.menu_block::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 138px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.man::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 212px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.women::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 312px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.kids::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 386px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.accose::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 521px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.featured::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 634px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.deals::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    left: 752px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.menu_block_link {
    display: block;
    text-decoration: none;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: capitalize;
    /* Text style for "Dresses ," 
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;*/
}

.menu_left_hd {
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: uppercase;
    /* Text style for "W, omen" 
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;*/
}

.menu_block_left {
    display: flex;
    flex-direction: column;
    width: 235px;
}

.menu_block_center {
    display: flex;
    flex-direction: column;
    width: 235px;
}

.menu_block_right {
    display: flex;
    flex-direction: column;
    width: 235px;
}

.menu_line {
    background-color: #e8e8e8;
    margin-bottom: 16px;
    color: #e8e8e8;
}

.menu_block_img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 32px;
}

.menu_block_image {
    position: relative;
}

.menu_block_img_txt {
    position: absolute;
    color: #ffffff;
    font-family: "Lato";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: right;
    text-transform: uppercase;
    margin: 10px;
    width: 71px;
    /* Text style for "S, uper  ," 
font-style: normal;
letter-spacing: 0.55px;
line-height: normal;*/

}